*.swp
.ssh

# Services
services/default.target.wants
services/sockets.target.wants
services/eos-update-notifier.service
services/eos-update-notifier.timer
services/timers.target.wants

# NeoVim
nvim/view
nvim/bundle
nvim/undodir
nvim/sessions/*
!nvim/sessions/.gitkeep
nvim/.netrwhist
nvim/lazy-lock.json

# Zellij
zellij/plugins

# Fish
fish/*
!fish/completions
!fish/functions
!fish/config.fish

# Lazygit
lazygit/state.yml

# Helix
helix/external-snippets

# Nushell
nushell/history.txt

# Tmux
tmux/plugins
