layout {
    cwd "$HOME/Projects"

    default_tab_template {
        children
        pane size=1 borderless=false {
            plugin location="file:/$HOME/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=#7aa2f7,bold] {session} #[fg=#ec5f67,bold]   {tabs}"
                format_right "{mode} {datetime}"
                format_space ""

                mode_normal  "#[fg=#7aa2f7] "
                mode_locked  "#[fg=#ec5f67] {name} "
                mode_resize  "#[fg=#ec5f67] {name} "
                mode_pane  "#[fg=#7aa2f7] {name} "
                mode_tab  "#[fg=#7aa2f7] {name} "
                mode_scroll  "#[fg=#ff8800] {name} "
                mode_enter_search  "#[fg=#ff8800] {name} "
                mode_search  "#[fg=#ff8800] {name} "
                mode_rename_tab  "#[fg=#ec5f67] {name} "
                mode_rename_pane  "#[fg=#ec5f67] {name} "
                mode_session  "#[fg=#7aa2f7] {name} "
                mode_move  "#[fg=#ec5f67] {name} "
                mode_prompt  "#[fg=#ff8800] {name} "
                mode_tmux    "#[fg=#ECBE7B'] {name} "

                tab_normal   "#[fg=#6C7086] {index}:{name} "
                tab_active   "#[fg=#c678dd,bold,italic] {index}:{name} "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%Y/%m/%d %H:%M:%S"
                datetime_timezone "Asia/Tehran"
            }
        }
    }

    swap_floating_layout{
        floating_panes{
            pane x="5%" y="5%" width="90%" height="90%"
        }
    }

    tab name="Roboeq" cwd="roboeq"
    tab name="Backend" cwd="roboeq-panel" 
    tab name="Frontend" cwd="roboeq-panel-front" 
}
