layout {
    cwd "$HOME/Projects"

    default_tab_template {
        children
        pane size=1 borderless=false {
            plugin location="file:/$HOME/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=#ea9a97,bold] {session} #[fg=#eb6f92,bold] 󱍢  {tabs}"
                format_right "{mode} {datetime}"
                format_space ""

                mode_normal  "#[fg=#ea9a97] "
                mode_locked  "#[fg=#eb6f92] {name} "
                mode_resize  "#[fg=#eb6f92] {name} "
                mode_pane  "#[fg=#9ccfd8] {name} "
                mode_tab  "#[fg=#9ccfd8] {name} "
                mode_scroll  "#[fg=#fe640b] {name} "
                mode_enter_search  "#[fg=#fe640b] {name} "
                mode_search  "#[fg=#fe640b] {name} "
                mode_rename_tab  "#[fg=#eb6f92] {name} "
                mode_rename_pane  "#[fg=#eb6f92] {name} "
                mode_session  "#[fg=#9ccfd8] {name} "
                mode_move  "#[fg=#eb6f92] {name} "
                mode_prompt  "#[fg=#fe640b] {name} "
                mode_tmux    "#[fg=#f6c177'] 󰌓 "


                tab_normal   "#[fg=#6C7086] {index}:{name} "
                tab_active   "#[fg=#f6c177,bold,italic] {index}:{name} "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%Y/%m/%d %H:%M:%S"
                datetime_timezone "Asia/Tehran"
            }
        }
    }

    swap_floating_layout{
        floating_panes max_panes=1 {
            pane x="5%" y="5%" width="90%" height="90%"
        }
        floating_panes max_panes=2 {
            pane x="4%" y="5%" width="45%" height="90%"
            pane x="51%" y="5%" width="45%" height="90%"
        }
    }

    tab name="Roboeq" cwd="roboeq"
    tab name="Backend" cwd="roboeq-panel" 
    tab name="Frontend" cwd="roboeq-panel-front" 
}
