layout {
    cwd "$HOME/Projects"
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }

    tab name="Roboeq" cwd="roboeq" 
    tab name="Backend" cwd="roboeq-panel" 
    tab name="Frontend" cwd="roboeq-panel-front" 
}
